/* ==================== ##Color Styles ==================== */

a,
.mobile_nav_wrapper .primary-nav ul li ul .menu-item.current-menu-item > a,
.mobile_nav_wrapper .primary-nav ul ul li.menu-item.current-menu-ancestor > a,
.primary-nav > ul > li > a > span:before,
.primary-nav ul li ul li.current-menu-ancestor.current-menu-parent > a > span:before, 
.primary-nav ul li ul li.current-menu-ancestor.current-menu-parent > a:after, 
.primary-nav ul li ul li.current-menu-ancestor.current-menu-parent > a > span, 
.primary-nav ul li ul li.current-menu-item > a > span, 
.primary-nav ul li ul li.current_page_item > a > span,
.primary-nav ul li ul li.current-menu-item > a > span:before, 
.primary-nav ul li ul li.current_page_item > a > span:before,
.primary-nav ul li ul li:hover > a > span,
.mobile_nav_wrapper .primary-nav > ul > li.current-menu-item > a,
.mobile_nav_wrapper .primary-nav > ul > li.current_page_item > a,
.mobile_nav_wrapper .primary-nav > ul > li.current-menu-ancestor > a,
.mobile_nav_wrapper .primary-nav > ul > li.current-menu-parent > a,
.mobile_nav_wrapper .primary-nav > ul > li.current_page_parent > a,
.mobile_nav_wrapper .primary-nav > ul > li.current_page_ancestor > a,
a:hover .wgl-icon,
body ol > li:before,
blockquote:before,
button,
button:focus, button:active,
h3#reply-title a:hover,
form.post-password-form input[type='submit']:hover,
.author-info_social-wrapper,
.blog-post_link:before,
.blog-post_meta-categories span,
.blog-post_quote-text:before,
.blog-post_title i,
.blog-style-standard .blog-post:hover .blog-post_wrapper .blog-post_meta_info .meta-wrapper span,
.blog-post_link>.link_post:hover,
#comments .commentlist .comment_info .meta-wrapper .comment-edit-link:hover,
.blog-post.format-standard.link .blog-post_title:before,
.blog-post_cats span,
.blog-post_title a:hover,
.blog-post_meta-categories a,
.share_post-container,
.button-read-more,
.comment-respond .button__wrapper:hover input[type="submit"],
#comments .comment-reply-link:hover,
#comments .comment-reply-link:focus,
#comments .comment-reply-link:active,
.calendar_wrap thead,
.copyright a:hover,
.comment_author_says a:hover,
.dropcap,
.share_post-container .share_social-wpapper ul li .share_post span.fa:hover,
.share_link span.fa:hover, 
.share_post span.fa:hover,
.softlab_submit_wrapper:hover > i,
.softlab_custom_button i,
.softlab_custom_text a,
.softlab_module_button a:hover,
.softlab_module_counter .counter_icon,
.softlab_module_demo_item .di_button a:hover,
.softlab_module_demo_item .di_title_wrap a:hover .di_title,
.softlab_module_demo_item .di_title-wrap .di_subtitle,
.softlab_module_social .soc_icon:hover,
.softlab_module_carousel .slick-prev:after, 
.softlab_module_carousel .slick-next:after,
.softlab_twitter a,
.softlab_module_testimonials.type_author_top_inline .testimonials_meta_wrap:after,
.softlab_module_testimonials .testimonials_status,
.softlab_module_flipbox .flipbox_front .flipbox_front_content,
.softlab_module_circuit_services .services_subtitle,
.softlab_module_services_3 .services_icon_wrapper,
.softlab_module_infobox .infobox_icon,
.softlab_module_services_4 .services_icon,
.softlab_module_services_4:hover .services_number,
.load_more_works:hover,
.load_more_wrapper .load_more_item:before,
.load_more_wrapper:hover .load_more_item,
.header_search .header_search-button > i:hover,
.header_search-field .search-form:after,
.page_404_wrapper .softlab_404_button .wgl_button_link:hover,
.mc_form_inside #mc_signup_submit:hover,
.single_team_page .team-single_speaches-info .speech-info_desc span,
.single_team_page .team-info_wrapper .team-info_item a:hover,
.single-member-page .member-icon:hover,
.single-member-page .team-link:hover,
.single_team_page .team-single_speaches-info .speech-info_day,
.single_team_page .team-info_icons a:hover,
.single_portfolio-wrapper .portfolio-category:hover,
.team-icons .member-icon:hover,
.vc_wp_custommenu .menu .menu-item.current-menu-item > a,
.vc_wp_custommenu .menu .menu-item.current-menu-ancestor > a,
.wpml-ls a:hover,
.wpml-ls-legacy-dropdown .wpml-ls-current-language:hover > a,
.wpml-ls-legacy-dropdown .wpml-ls-current-language a:hover,
.wgl-container ul li:before,
.wgl_portfolio_item-meta a:hover,
.wgl_timetabs .timetabs_headings .wgl_tab.active .tab_subtitle,
.wgl_timetabs .timetabs_headings .wgl_tab:hover .tab_subtitle,
.wgl_portfolio_category-wrapper a:hover,
.wgl_module_team .team-item_info .team-item_titles .team-title:hover,
.wgl_module_team .team-info_icons a:hover,
.wgl-icon:hover,
.wgl-theme-color,
.wgl_portfolio_item-wrapper .portfolio_link-icon:hover,
.wgl_portfolio_item-corners,
.wgl_portfolio_item-meta .post_cats,
.wgl_portfolio_item-cats,
.wpb-js-composer .wgl-container .vc_row .vc_general.vc_tta.vc_tta-accordion .vc_tta-panels-container .vc_tta-panel .vc_tta-panel-heading .vc_tta-panel-title .vc_tta-controls-icon,
.wpb-js-composer .vc_row .vc_tta.vc_general .vc_active .vc_tta-panel-title > a:before,
.wpb-js-composer .wgl-container .vc_row .vc_general.vc_tta.vc_tta-tabs .vc_tta-tabs-container .vc_tta-tabs-list .vc_tta-tab.vc_active > a,
.wpb-js-composer .wgl-container .vc_row .vc_general.vc_tta.vc_tta-tabs .vc_tta-tabs-container .vc_tta-tabs-list .vc_tta-tab:hover > a,
.wpb-js-composer .wgl-container .vc_row .vc_general.vc_tta.vc_tta-tabs .vc_tta-panels-container .vc_tta-panels .vc_tta-panel.vc_active .vc_tta-panel-heading .vc_tta-panel-title,
.wpb-js-composer .wgl-container .vc_row .vc_general.vc_tta.vc_tta-tabs .vc_tta-panels-container .vc_tta-panels .vc_tta-panel:hover .vc_tta-panel-heading .vc_tta-panel-title,
.softlab_module_circuit_services .services_item-icon,
ul.wp-block-archives.wp-block-archives-list li a:hover,
ul.wp-block-categories.wp-block-categories-list li a:hover + .post_count,
ul.wp-block-categories.wp-block-categories-list li a:hover,
ul.wp-block-latest-posts li a:hover{
	color: $theme_color;
}

.hover_links a:hover,
header .header-link:hover{
	color: $theme_color !important;
}

/* Widget styles */
body .widget_nav_menu .current-menu-ancestor > a,
body .widget_nav_menu .current-menu-item > a,
body .widget_recent_entries  ul li .post-date,
body .widget_rss ul li .rss-date,
body .widget_meta ul li .post_count, 
body .widget_archive ul li > a:before,
.recent-posts-widget .meta-wrapper a,
.widget.widget_archive ul li a:hover,
.widget.widget_categories ul li a:hover,
.widget.widget_categories ul li a:hover + span,
body .widget_product_categories ul li a:hover + .post_count, 
body .widget_archive ul li a:hover + .post_count,
.widget.widget_recent_comments ul li a,
.widget.widget_recent_entries ul li:before,
.widget.widget_pages ul li a:hover,
.widget.widget_meta ul li a:hover,
.author-widget_social a:hover,
.tagcloud a:hover,
.widget.widget_recent_comments ul li span.comment-author-link a:hover,
.widget.widget_recent_comments ul li a:hover,
.widget.widget_recent_entries ul li a:hover,
.widget.widget_nav_menu ul li a:hover,
.author-widget_img-wrapper,
.widget.widget_wgl_posts .recent-posts-widget li > .recent-posts-content .post_title a:hover,
.recent-posts-widget .meta-wrapper a{
	color: $theme_color;
}
/* end widget styles */	

.post_featured_bg .meta-wrapper .blog-post_meta-categories a:hover,
body .wpml-ls-legacy-dropdown .wpml-ls-sub-menu .wpml-ls-item a:hover,
.meta-wrapper .blog-post_meta-categories a:hover{
	color: $theme_color !important;
}

/* ==================== ##End Color Styles ==================== */

/* ==================== ##Background Styles ==================== */

.single_team_page .team-title:before,
.slick-dots li button,
.softlab_module_double_headings .heading_title .heading_divider,
.softlab_module_double_headings .heading_title .heading_divider:before, 
.softlab_module_double_headings .heading_title .heading_divider:after,
.wpml-ls-legacy-dropdown .wpml-ls-sub-menu .wpml-ls-item a span:before,
.load_more_item:after,
.widget.softlab_widget.softlab_banner-widget .banner-widget_button:after,
.wgl_button_link:after,
.theme-gradient .comment-respond .button__wrapper:after,
.wgl-container ul.softlab_plus li:after,
.wgl-container ul.softlab_plus li:before,
.wgl-container ul.softlab_dash li:before,
.wgl-pagination .page .current,
.wgl-pagination .page a:hover,
.isotope-filter a:after,
ul.wp-block-archives.wp-block-archives-list li a:before, 
ul.wp-block-archives.wp-block-archives-list li a:after,
ul.wp-block-categories.wp-block-categories-list li a:before, 
ul.wp-block-categories.wp-block-categories-list li a:after{
	background: $theme_color;
}

::selection,
.vc_wp_custommenu .menu .menu-item a:before,
.primary-nav ul li ul li:hover > a > span:before,
.primary-nav .lavalamp-object,
.primary-nav ul li ul li > a span:before,
.primary-nav ul li ul li > a:before,
.primary-nav > ul > li > a > span:before,
.primary-nav ul li.mega-menu.mega-cat div.mega-menu-container ul.mega-menu.cats-horizontal > li.is-active > a,
body .wpml-ls-legacy-dropdown .wpml-ls-sub-menu .wpml-ls-item a:after,
#comments > h3:after,
#sb_instagram .sbi_photo:before,
aside > .widget + .widget:before,
button:hover,
body .widget_categories ul li > a:hover:before, 
body .widget_categories ul li > a:hover:after, 
body .widget_product_categories ul li > a:hover:before, 
body .widget_product_categories ul li > a:hover:after, 
body .widget_meta ul li > a:hover:before, 
body .widget_meta ul li > a:hover:after, 
body .widget_archive ul li > a:hover:before, 
body .widget_archive ul li > a:hover:after,
body .widget_categories ul li > a:before, 
body .widget_categories ul li > a:after, 
body .widget_product_categories ul li > a:before, 
body .widget_product_categories ul li > a:after, 
body .widget_meta ul li > a:before, 
body .widget_meta ul li > a:after, 
body .widget_archive ul li > a:before, 
body .widget_archive ul li > a:after,
mark,
span.highlighter,
.blog-post_cats span a,
.calendar_wrap caption,
.comment-reply-title:after,
.softlab_divider .softlab_divider_line .softlab_divider_custom .divider_line,
.softlab_module_cats .cats_item-count,
.softlab_module_double_headings .heading_subtitle:after,
.softlab_module_double_headings .heading_subtitle:before,
.softlab_module_progress_bar .progress_bar,
.softlab_module_infobox.type_tile:hover:before,
.softlab_module_social.with_bg .soc_icon,
.softlab_module_title:after,
.softlab_module_title .carousel_arrows a:hover span,
.softlab_module_videobox .videobox_link,
.softlab_module_carousel.pagination_circle_border .slick-dots li.slick-active button,
.softlab_module_carousel.pagination_line .slick-dots li button:before,
.softlab_module_carousel.pagination_square .slick-dots li,
.load_more_works,
.wgl-social-share_pages.hovered_style .share_social-icon-plus:before, 
.wgl-social-share_pages.hovered_style .share_social-icon-plus:after,
.inside_image.offset_animation:before,
.mc_form_inside #mc_signup_submit,
.wgl-ellipsis span,
.wgl_module_title.item_title .carousel_arrows a:hover,
.wgl_timetabs .timetabs_headings .wgl_tab.active:after,
.wgl-container ul.softlab_plus li:before,
.widget .calendar_wrap table td#today:before,
.widget .calendar_wrap tbody td > a:before,
.widget .counter_posts,
.widget.widget_pages ul li a:before,
.widget.widget_nav_menu ul li a:before,
.widget_nav_menu .menu .menu-item:before,
.widget_postshero .recent-posts-widget .post_cat a,
.widget_categories ul li > a:before, 
.widget_meta ul li > a:before,
.widget_archive ul li > a:before,
.softlab_module_services_3 .services_icon_wrapper .services_circle_wrapper .services_circle,
.softlab_module_ico_progress .progress_completed,
.button__wrapper:hover:after{
	background-color: $theme_color;
}
/* ==================== ##End Background Styles ==================== */

/* ==================== ##Background and Border Styles ==================== */

.blog-post_meta-date,
.softlab_module_carousel.navigation_offset_element .slick-prev:hover,
.softlab_module_carousel.navigation_offset_element .slick-next:hover,
.softlab_module_demo_item .di_button a,
.next-link:hover,
.prev-link:hover{
	border-color: $theme_color;
	background: $theme_color;
} 

/* ==================== ##End Background and Border Styles ==================== */

/* ==================== ##Border Styles ==================== */

.softlab_module_button a:hover,
.softlab_module_carousel.pagination_circle_border .slick-dots li button,
.softlab_module_title .carousel_arrows a:hover span:before,
.load_more_works{
	border-color: $theme_color;
}

body input:not([type='checkbox']):not([type='submit']):focus, 
body input:not([type='checkbox']):not([type='submit']):active, 
select:focus, select:active, textarea:focus, textarea:active{
	border-color: $theme_color;
}

/* ==================== ##End Border Styles ==================== */

/* ==================== ##Additional Styles ==================== */

.single_team_page .team-info_wrapper .team-info_svg svg,
.single_team_page .team-single_wrapper:hover .team-info_wrapper .team-info_svg svg,
.wgl_module_team.horiz_type .team-item_content:hover .team-info_svg svg{
	fill: $theme_color;
}

.wgl-theme-header .header_search .header_search-field:after{
	border-bottom-color: rgba($hex_theme_color, 0.9);
}

.dropcap-bg {
	box-shadow: 0px 6px 13px rgba($hex_theme_color, 0.3);
}

.theme_color_shadow,
.softlab_module_button.wgl_button .wgl_button_link,
.wgl-theme-header .wrapper .softlab_module_button a:hover,
input[type="submit"], button,
.load_more_item,
.wpb-js-composer .wgl-container .vc_row .vc_general.vc_tta.vc_tta-accordion .vc_tta-panels-container .vc_tta-panel.vc_active .vc_tta-panel-heading,
.wgl_module_team .team-info_icons .team-icon,
.single-team .single_team_page .team-info_icons .team-icon{
	box-shadow:  0px 9px 30px 0px rgba($hex_theme_color, 0.4);
}

.inside_image .overlay:before,
.inside_image.always_info_animation:hover .overlay:before{
	box-shadow: inset 0px 0px 0px 0px rgba($hex_theme_color, 1);
}

.inside_image:hover .overlay:before,
.inside_image.always_info_animation .overlay:before{
	box-shadow: inset 0px 0px 0px 10px rgba($hex_theme_color, 1);
}

.wgl-pagination .page .current,
.wgl-pagination .page-numbers:hover{
	box-shadow: 0px 6px 13px 0px rgba($hex_theme_color, 0.2); 
}

/* ==================== ##End Second Styles ==================== */

/* ==================== ##Theme Secondary Color Styles ==================== */

.button-read-more:hover,
#comments .commentlist .comment_info .meta-wrapper .comment-edit-link,
.wgl-social-share_pages.hovered_style ul li a:hover,
.blog-post_views-wrap:before,
.blog-post_meta-categories span,
.number-comments,
.softlab_module_time_line_horizontal .tlh_check_wrap,
.softlab_module_testimonials .testimonials_item:before,
.softlab_module_counter .counter_value_wrapper,
body .widget .widget-title .widget-title_wrapper:before,
.widget.softlab_widget.softlab_banner-widget .banner-widget_text .tags_title:after,
.softlab_module_double_headings .heading_subtitle,
.single_team_page .team-info_wrapper .team-department span,
.isotope-filter a.active,
.isotope-filter a:hover,
.isotope-filter a:after,
.softlab_module_testimonials .testimonials_position,
.wgl-container ul.softlab_slash li:before,
.wgl_module_team .team-department,
.wgl-secondary-color,
.wgl_portfolio_item-meta .post_cats a:hover,
.wgl_portfolio_item-title .title:hover a{
	color: $theme_secondary_color;
}

.post_featured_bg .meta-wrapper .blog-post_meta-categories a,
.meta-wrapper .blog-post_meta-categories a{
	color: $theme_secondary_color;
}

/* ==================== ##End Theme Secondary Color Styles ==================== */

/* ==================== ##Theme Secondary Background Styles ==================== */

#multiscroll-nav span,
#multiscroll-nav li .active span,
.isotope-filter a .number_filter{
	background: $theme_secondary_color;
}

body .widget .widget-title:after,
.wgl-container ul li:before,
.wgl-social-share_pages.standard_style a:before,
.softlab_module_time_line_horizontal .tlh_check_wrap {
	background-color: $theme_secondary_color;
}

/* ==================== ##End Theme Secondary Background Styles ==================== */

/* ==================== ##Theme Secondary Border Styles ==================== */

.author-info_social-link:after{
	border-color: $theme_secondary_color;
}

.author-widget_social a span,
.single_info-share_social-wpapper .share_link .share-icon_animation{
	border-right-color: rgba($hex_theme_color_secondary, 0.1);
	border-left-color: rgba($hex_theme_color_secondary, 0.1);
}

/* ==================== ##End Theme Secondary Border Styles ==================== */

.wgl-social-share_pages.standard_style a:hover:before{
	box-shadow:  0px 9px 30px 0px rgba($hex_theme_color_secondary, 0.4);
}
